{% extends 'layout.html' %}

{% block title %}
   <title>Show Todo</title>
{% endblock %}

{% block content %}
<div class="container">
<h1 class="text-center mt-3 mb-3">Show Todo</h1>
<table class="table table-dark table-bordered">
   <thead>
     <tr>
       <th scope="col">Title</th>
       <th scope="col">Description</th>
       <th scope="col">Created at</th>
       <th scope="col">Status</th>
       <th scope="col">Actions</th>
     </tr>
   </thead>
   <tbody>
   {% for i in obj %}
     <tr>
       <td>{{i.title}}</td>
       <td>{{i.description}}</td>
       <td>{{i.created_at}}</td>
       <td>
        {% if i.completed %}
           Completed
         {% else %}
           Not Completed
         {% endif %}
       </td>
       <td>
           <button class="btn btn-warning"><a href="{% url 'update_url' i.id %}">Update</a></button>&nbsp;&nbsp;
           <button class="btn btn-danger"><a href="{% url 'delete_url' i.id %}">Delete</a></button>
       </td>
     </tr>
   {% endfor %}
   </tbody>
 </table>
</div>
{% endblock %}